#content[data-v-1d554b11]{min-height:400px}.bg-day[data-v-1d554b11]{background:linear-gradient(to bottom right,#00b4db,#0083b0)}#forecastCard[data-v-1d554b11]:hover{scale:1.05;box-shadow:1px 2px 12px #00000050}
