/* roboto via google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* tailwind CSS */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    transition: ease all 0.2s;
  }

  .weather-card:hover {
    scale: 1.05;
    box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.315);
  }

  body {
    font-family: Roboto, sans-serif;
  }

  button {
    cursor: pointer;
  }

  nav>*:hover,
  .router-link-active:not(#logo) {
    font-weight: bold;
  }
}